src/wsdl/www.aakosu.org/ClientExportImportService/ClientExportImport.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.adimadim.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.adimadim.org/" name="ClientExportImportService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.adimadim.org/" schemaLocation="http://www.aakosu.org:80/ClientExportImportService/ClientExportImport?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveRaces">
<part name="parameters" element="tns:retrieveRaces"/>
</message>
<message name="retrieveRacesResponse">
<part name="parameters" element="tns:retrieveRacesResponse"/>
</message>
<message name="createRace">
<part name="parameters" element="tns:createRace"/>
</message>
<message name="createRaceResponse">
<part name="parameters" element="tns:createRaceResponse"/>
</message>
<message name="updateRace">
<part name="parameters" element="tns:updateRace"/>
</message>
<message name="updateRaceResponse">
<part name="parameters" element="tns:updateRaceResponse"/>
</message>
<message name="saveRaceScores">
<part name="parameters" element="tns:saveRaceScores"/>
</message>
<message name="saveRaceScoresResponse">
<part name="parameters" element="tns:saveRaceScoresResponse"/>
</message>
<message name="retrieveAccounts">
<part name="parameters" element="tns:retrieveAccounts"/>
</message>
<message name="retrieveAccountsResponse">
<part name="parameters" element="tns:retrieveAccountsResponse"/>
</message>
<portType name="ClientExportImport">
<operation name="retrieveRaces">
<input wsam:Action="http://service.adimadim.org/ClientExportImport/retrieveRacesRequest" message="tns:retrieveRaces"/>
<output wsam:Action="http://service.adimadim.org/ClientExportImport/retrieveRacesResponse" message="tns:retrieveRacesResponse"/>
</operation>
<operation name="createRace">
<input wsam:Action="http://service.adimadim.org/ClientExportImport/createRaceRequest" message="tns:createRace"/>
<output wsam:Action="http://service.adimadim.org/ClientExportImport/createRaceResponse" message="tns:createRaceResponse"/>
</operation>
<operation name="updateRace">
<input wsam:Action="http://service.adimadim.org/ClientExportImport/updateRaceRequest" message="tns:updateRace"/>
<output wsam:Action="http://service.adimadim.org/ClientExportImport/updateRaceResponse" message="tns:updateRaceResponse"/>
</operation>
<operation name="saveRaceScores">
<input wsam:Action="http://service.adimadim.org/ClientExportImport/saveRaceScoresRequest" message="tns:saveRaceScores"/>
<output wsam:Action="http://service.adimadim.org/ClientExportImport/saveRaceScoresResponse" message="tns:saveRaceScoresResponse"/>
</operation>
<operation name="retrieveAccounts">
<input wsam:Action="http://service.adimadim.org/ClientExportImport/retrieveAccountsRequest" message="tns:retrieveAccounts"/>
<output wsam:Action="http://service.adimadim.org/ClientExportImport/retrieveAccountsResponse" message="tns:retrieveAccountsResponse"/>
</operation>
</portType>
<binding name="ClientExportImportPortBinding" type="tns:ClientExportImport">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveRaces">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveRaceScores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClientExportImportService">
<port name="ClientExportImportPort" binding="tns:ClientExportImportPortBinding">
<soap:address location="http://www.aakosu.org:80/ClientExportImportService/ClientExportImport"/>
</port>
</service>
</definitions>