src/wsdl/www.aakosu.org/ClientServiceService/ClientService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.adimadim.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.adimadim.org/" name="ClientServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.adimadim.org/" schemaLocation="http://www.aakosu.org:80/ClientServiceService/ClientService?xsd=1"/>
</xsd:schema>
</types>
<message name="saveRaceScores">
<part name="parameters" element="tns:saveRaceScores"/>
</message>
<message name="saveRaceScoresResponse">
<part name="parameters" element="tns:saveRaceScoresResponse"/>
</message>
<message name="retrieveAccounts">
<part name="parameters" element="tns:retrieveAccounts"/>
</message>
<message name="retrieveAccountsResponse">
<part name="parameters" element="tns:retrieveAccountsResponse"/>
</message>
<message name="retrieveRaces">
<part name="parameters" element="tns:retrieveRaces"/>
</message>
<message name="retrieveRacesResponse">
<part name="parameters" element="tns:retrieveRacesResponse"/>
</message>
<portType name="ClientService">
<operation name="saveRaceScores">
<input wsam:Action="http://service.adimadim.org/ClientService/saveRaceScoresRequest" message="tns:saveRaceScores"/>
<output wsam:Action="http://service.adimadim.org/ClientService/saveRaceScoresResponse" message="tns:saveRaceScoresResponse"/>
</operation>
<operation name="retrieveAccounts">
<input wsam:Action="http://service.adimadim.org/ClientService/retrieveAccountsRequest" message="tns:retrieveAccounts"/>
<output wsam:Action="http://service.adimadim.org/ClientService/retrieveAccountsResponse" message="tns:retrieveAccountsResponse"/>
</operation>
<operation name="retrieveRaces">
<input wsam:Action="http://service.adimadim.org/ClientService/retrieveRacesRequest" message="tns:retrieveRaces"/>
<output wsam:Action="http://service.adimadim.org/ClientService/retrieveRacesResponse" message="tns:retrieveRacesResponse"/>
</operation>
</portType>
<binding name="ClientServicePortBinding" type="tns:ClientService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveRaceScores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRaces">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClientServiceService">
<port name="ClientServicePort" binding="tns:ClientServicePortBinding">
<soap:address location="http://www.aakosu.org:80/ClientServiceService/ClientService"/>
</port>
</service>
</definitions>