src/wsdl/www.aakosu.org_80/ClientExportImportService/ClientExportImport.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.adimadim.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.adimadim.org/">

<xs:element name="account" type="tns:account"/>

<xs:element name="accountAlbum" type="tns:accountAlbum"/>

<xs:element name="accountParent" type="tns:accountParent"/>

<xs:element name="accountProperty" type="tns:accountProperty"/>

<xs:element name="contactMessage" type="tns:contactMessage"/>

<xs:element name="race" type="tns:race"/>

<xs:element name="raceScore" type="tns:raceScore"/>

<xs:element name="raceScoreDto" type="tns:raceScoreDto"/>

<xs:element name="retrieveAccounts" type="tns:retrieveAccounts"/>

<xs:element name="retrieveAccountsResponse" type="tns:retrieveAccountsResponse"/>

<xs:element name="retrieveRaces" type="tns:retrieveRaces"/>

<xs:element name="retrieveRacesResponse" type="tns:retrieveRacesResponse"/>

<xs:element name="saveRaceScores" type="tns:saveRaceScores"/>

<xs:element name="saveRaceScoresResponse" type="tns:saveRaceScoresResponse"/>

<xs:complexType name="saveRaceScores">
<xs:sequence>
<xs:element name="raceScores" type="tns:raceScoreDto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raceScoreDto">
<xs:sequence>
<xs:element name="raceScoreId" type="xs:int" minOccurs="0"/>
<xs:element name="duration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="teamId" type="xs:int" minOccurs="0"/>
<xs:element name="raceId" type="xs:int" minOccurs="0"/>
<xs:element name="accountId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveRaceScoresResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAccounts">
<xs:sequence>
<xs:element name="startAccountId" type="xs:int" minOccurs="0"/>
<xs:element name="count" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAccountsResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountId" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="birthDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="active" type="xs:string" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="manager" type="xs:string" minOccurs="0"/>
<xs:element name="adimadim" type="xs:string" minOccurs="0"/>
<xs:element name="adimadimRun" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="chestNumber" type="xs:int" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="secretKey" type="xs:string" minOccurs="0"/>
<xs:element name="raceScoreList" type="tns:raceScore" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="accountAlbumList" type="tns:accountAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="accountPropertyList" type="tns:accountProperty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="tns:accountParent" minOccurs="0"/>
<xs:element name="contactMessageList" type="tns:contactMessage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rePassword" type="xs:string" minOccurs="0"/>
<xs:element name="tempBirthDate" type="xs:string" minOccurs="0"/>
<xs:element name="reEmail" type="xs:string" minOccurs="0"/>
<xs:element name="reUserName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raceScore">
<xs:sequence>
<xs:element name="raceScoreId" type="xs:int" minOccurs="0"/>
<xs:element name="duration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="teamId" type="xs:int" minOccurs="0"/>
<xs:element ref="tns:race" minOccurs="0"/>
<xs:element ref="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="race">
<xs:sequence>
<xs:element name="raceId" type="xs:int" minOccurs="0"/>
<xs:element name="raceName" type="xs:string" minOccurs="0"/>
<xs:element name="raceDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="active" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountAlbum">
<xs:sequence>
<xs:element ref="tns:account" minOccurs="0"/>
<xs:element name="albumDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="albumId" type="xs:int" minOccurs="0"/>
<xs:element name="albumName" type="xs:string" minOccurs="0"/>
<xs:element name="profileAlbum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountProperty">
<xs:sequence>
<xs:element ref="tns:account" minOccurs="0"/>
<xs:element name="accountPropertyId" type="xs:int" minOccurs="0"/>
<xs:element name="propertyId" type="xs:int"/>
<xs:element name="propertyValue" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountParent">
<xs:sequence>
<xs:element ref="tns:account" minOccurs="0"/>
<xs:element name="accountId" type="xs:int" minOccurs="0"/>
<xs:element name="parentName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contactMessage">
<xs:sequence>
<xs:element ref="tns:account" minOccurs="0"/>
<xs:element name="contactInfo" type="xs:string" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="messageId" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="unread" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRaces">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveRacesResponse">
<xs:sequence>
<xs:element name="return" type="tns:race" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>